In [1]:
from selenium import webdriver

navegador = webdriver.Chrome()
navegador.get('https://www.google.com')

In [2]:
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [4]:
for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto']
    produto = produto.replace('ã', 'a').replace('ç', 'c').replace('á', 'a').replace('ó', 'o').replace('ú', 'u').replace('é', 'e')
    link = f"https://www.melhorcambio.com/{produto.lower()}-hoje"
    print(link)
    navegador.get(link)
    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace('.', '').replace(',', '.')
    print(preco)
    tabela.loc[linha, 'Preço Atual'] = float(preco)

display(tabela)
navegador.quit()

https://www.melhorcambio.com/milho-hoje
55.24
https://www.melhorcambio.com/soja-hoje
141.33
https://www.melhorcambio.com/boi-hoje
257.15
https://www.melhorcambio.com/petroleo-hoje
385.10
https://www.melhorcambio.com/algodao-hoje
376.99
https://www.melhorcambio.com/acucar-hoje
139.99
https://www.melhorcambio.com/cafe-hoje
811.35
https://www.melhorcambio.com/ouro-hoje
302.47
https://www.melhorcambio.com/tilapia-hoje
9.63

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        55.24      NaN
1      Soja       163.59       141.33      NaN
2       Boi       282.20       257.15      NaN
3  Petróleo       424.37       385.10      NaN
4   Algodão       497.76       376.99      NaN
5    Açúcar       136.23       139.99      NaN
6      Café      1092.87       811.35      NaN
7      Ouro       321.77       302.47      NaN
8   Tilápia         9.05         9.63      NaN

In [5]:
tabela['Comprar'] = tabela['Preço Ideal'] > tabela['Preço Atual']
tabela.to_excel('commodities_atualizado.xlsx', index=False)
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        55.24     True
1      Soja       163.59       141.33     True
2       Boi       282.20       257.15     True
3  Petróleo       424.37       385.10     True
4   Algodão       497.76       376.99     True
5    Açúcar       136.23       139.99    False
6      Café      1092.87       811.35     True
7      Ouro       321.77       302.47     True
8   Tilápia         9.05         9.63    False